
$body: #252524;
$nav: #070707;
$blue: #3454D1;
$green: #34D1BF;
$red: #D1345B;

// $long: 1100px;
// $wide: 900px;
// $med: 700px;
// $min: 500px;
$sm: 400px;

// @include add-grid(12);
// @include add-grid(1 at $sm);
// @include add-gutter(1/24);
// @include sgs-change('output', 'float');
