server/config.js
node_modules/
server/services/config.json
graphicdb/
graphicdb*/
_*/
pouch*/
config.json

# Logs
logs
log.txt
*.log

public/build/Release
public/dist

# Runtime data
pids
*.pid
*.seed

#Webstorm metadata
.idea
# node-waf configuration
.lock-wscript
# Coverage directory used by tools like istanbul
coverage
# Mac files
.DS_Store
